@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cardcontainer {
  position: relative;
  min-width: 26rem; /* default card width */
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
  border-radius: 20px;
  background-image: url("/svgs/cardbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .cardcontainer {
    min-width: 20rem;
  }
}

@media (max-width: 768px) {
  .cardcontainer {
    min-width: 16rem;
  }
}

@media (max-width: 480px) {
  .cardcontainer {
    min-width: 14rem;
  }
}

/* Card text/content */
.info {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 1.5rem;
  gap: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.cardimg {
  color: #fff;
  text-decoration: none;
}

.cardheader {
  font-weight: 500;
  font-size: 20px;
}

.cardsubheader {
  padding-right: 5rem;
  font-weight: 400;
  font-size: 15px;
}

.cardicon {
  position: relative;
  height: 1.5rem;
  top: 6px;
  left: 13px;
}
