@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Poppins:wght@300;400;600;700&display=swap");

.slider-section {
  position: relative;
  width: 100%;
  height: 17rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
  width: 90%;
  height: 18rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex: 1;
  scroll-snap-type: x mandatory;
}

.cardcontainer {
  width: 26rem;
  height: 15rem;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.slider-btn {
  background-color: #12406f;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.3s;
  z-index: 2;
}

.slider-btn:hover {
  opacity: 1;
}

.left-btn {
  margin-right: 1rem;
}

.right-btn {
  margin-left: 1rem;
}

.cards.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

@media (max-width: 738px) {
  .cards {
    gap: 0 !important;
    justify-content: center;
  }
  .cardcontainer {
    width: 100% !important;
    max-width: 100% !important;
  }
}
